# Client files
blindtest-vuejs/.DS_Store
blindtest-vuejs/node_modules
blindtest-vuejs/dist
blindtest-vuejs/.idea
blindtest-vuejs/.vscode
blindtest-react

# Server files
blindtest-api/node_modules
blindtest-api/.idea
blindtest-api/.vscode
blindtest-api/dist
blindtest-api/*.local
blindtest-api/.env