@keyframes PopOut {
  0% {
    transform-origin: center;
    scale: 0;
  }
  75% {
    transform-origin: center;
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

@keyframes GameStateChange {
  0% {
    transform-origin: right;
    opacity: 0;
  }
  100% {
    transform-origin: right;
    opacity: 1;
  }
}

@keyframes DropDown {
  0% {
    transform-origin: top;
    opacity: 0;
    height: 0;
  }
  100% {
    transform-origin: top;
    opacity: 1;
    height: auto;
  }
}

@keyframes count {
  0% {
    transform-origin: center;
    scale: 0;
    content: "3"
  }
  24% {
    transform-origin: center;
    scale: 1.1;
    content: "3"
  }
  25% {
    transform-origin: center;
    scale: 1;
    content: "3"
  }
  49% {
    transform-origin: center;
    scale: 1.1;
    content: "2"
  }
  50% {
    transform-origin: center;
    scale: 1;
    content: "2"
  }
  74% {
    transform-origin: center;
    scale: 1.1;
    content: "1"
  }
  75% {
    transform-origin: center;
    scale: 1;
    content: "1"
  }
  99% {
    transform-origin: center;
    scale: 1.1;
    content: "GO!"
  }
  100% {
    transform-origin: center;
    scale: 0;
    content: "GO!"
  }
}
