@keyframes PopOut {
  0% {
    transform-origin: center;
    scale: 0;
  }
  75% {
    transform-origin: center;
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

@keyframes GameStateChange {
  0% {
    transform-origin: right;
    opacity: 0;
  }
  100% {
    transform-origin: right;
    opacity: 1;
  }
}
